.header {
  /* position: absolute; */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 110;
  color: var(--white-color);
  background-color: rgba(28, 46, 61, 0.5);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 0;
}

.social {
  display: flex;
  align-self: center;
}
.social__link {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.social__item:not(:last-child) {
  margin-right: 40px;
}
.social__link--fb {
  background-image: url('../../img/fb.svg');
  width: 11px;
  height: 20px;
}
.social__link--tl {
  background-image: url('../../img/tw.svg');
  width: 20px;
  height: 17px;
}
.logo {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
}

.burger {
  position: relative;
  width: 48px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}
